.encabezado {
  background-color: bisque;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 350px;
}
.logo {
  width: 100px;
  height: auto;
}
