.final-pagina{
  display: flex;
  flex-direction: column;

  .final-pagina_nivel{
    display: flex;
    flex-direction: row;

    .final-pagina_estructura{
      width: 50%;
    };

    .enlaces-extra{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    };
  };
  .terminos{
    display: flex;
    flex-direction: row;
    .terminos-estructura{
      width: 50%;
      text-align: center;
    };
    footer{
      display: flex;
      flex-direction: row;
      h3{
        width: 50%;
      }
    }
  };
};